body {
	margin-top: 15px;
}

h1
	{line-height: 15pt;
	font-size: 14pt;
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: bold;}
h2
	{text-align: justify;
	line-height: 13pt;
	font-size: 13pt;
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: bold;}
h3
	{text-align: justify;
	line-height: 12pt;
	font-size: 12pt;
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: bold;}

#bigtitle {
	color: #083184;
	background-color: #ffffff;
        padding: 0px;
        margin: 0px;
        font-family: arial, helvetica, sans-serif;
        font-size: 28pt;
        font-weight: bold;
        display: inline;
}

.lin
	{
	vertical-align: middle;
	border-right: 1pt solid #083184;
}

#map td	{
	color: #083184;    
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 8pt;
	font-weight: 400;
	text-decoration: none;
	background: transparent;
}


#menu {
	text-align: center;
	font-family: arial, helvetica, sans-serif;
        font-size: 9pt;
        margin: 0px;
	padding: 0px;
	padding-top: 0px;
        padding-bottom: 0px;
}

#menu a {
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
        font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	padding: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: transparent;
        border: 0px;
	border-left: 0px;
        border-style: none;
}

#menu a:hover {
	color: #ffffcc;
	background-color: transparent;
	font-family: arial, helvetica, sans-serif;
        font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
}

#bigmenu a {
	color: #ffffff;
	font-family: arial, helvetica, sans-serif;
        font-size: 18pt;
	font-weight: bold;
	text-decoration: none;
}

#bigmenu a:hover {
	color: #ffffcc;
	font-family: arial, helvetica, sans-serif;
        font-size: 18pt;
	font-weight: bold;
	text-decoration: none;
}

#thispage {
	color: #f7d608;
	font-family: arial, helvetica, sans-serif;
        font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	padding: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: transparent;
        border: 0px;
	border-left: 0px;
        border-style: none;
}

A:link { 
	color: #0c49c6; 
	text-decoration: none;
}
A:visited { 
	color: #083184;
	text-decoration: none; 
}
A:hover {
	color: #663399;
	text-decoration: none;
}




